.imagen {
  margin-top: 20px;
  max-width: 25%;
  margin-bottom: 20px;
  
  -webkit-filter: grayscale(95%);
	filter: grayscale(95%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}


/* Flashing */
.filt:hover img {
  -webkit-filter: grayscale(10%);
	filter: grayscale(10%);
}