.text-center {
  text-align: center;
}

@media (min-width:1600px){
  .pl {
    padding-left:"400px";
  }

  .pr {
    padding-right:"300px";
  }
}

.text-highlight {
  /*margin-top: 0pt;
  margin-bottom: 0pt;
  padding-bottom: 10px;
  align-content: center;
  text-align: center;
  width: 50%;
  margin-left: 65%;
  background-color:rgb(0, 0, 0);*/
}
